<ejs-textbox
  cssClass="abs-input-wrapper"
  autocomplete="off"
  [floatLabelType]="floatingLabel ? 'Auto' : 'Never'"
  [placeholder]="placeholder"
  [enabled]="enabled"
  [multiline]="multiline"
  [readonly]="readonly"
  [showClearButton]="showClearButton"
  [type]="type"
  [value]="value"
  [width]="width"
  (blur)="onBlur($event)"
  (change)="onChange($event)"
  (focus)="onFocus($event)"
  (input)="onInput($event)"
  (keydown)="keydown($event)"
  [htmlAttributes]="htmlAttributes"
></ejs-textbox>
