<div class="ares-container">
  <nav class="ares-header">
    <!-- LOGO -->
    <div class="ares-logo">
      <fa-icon class="fa-2x" [icon]="['fab', 'github']"></fa-icon>
    </div>
    <h1>Ares Finder</h1>

    <ares-search></ares-search>
  </nav>
  <div class="ares-left-navbar">
    <nav class="ares-left-navbar">
      <ares-user-detail
        *ngIf="(totalUsers$ | async) > 0"
        [userDetail]="userDetail$ | async"
      ></ares-user-detail>
    </nav>
    <main class="content">
      <ares-users-list></ares-users-list>
    </main>
  </div>
  <nav class="ares-footer">
    <span>Made with <span class="heart">❤</span> in 🇨🇴 Colombia</span>
  </nav>
</div>
