<ng-container *ngIf="loading$ | async; else data">
  <ares-loader></ares-loader>
</ng-container>
<ng-template #data>
  <div class="caption" *ngIf="(totalUsers$ | async) === 0">
    No users were found
  </div>
  <div class="caption" *ngIf="(totalUsers$ | async) > 0">
    <h3>{{ totalUsers$ | async }} users</h3>
  </div>
  <div>
    <div class="paginator-container">
      <pagination-controls
        [directionLinks]="true"
        [autoHide]="true"
        [responsive]="true"
        *ngIf="(totalUsers$ | async) > 0"
        (pageChange)="handlePageChange($event)"
      ></pagination-controls>
    </div>
    <p *ngIf="count">Total: totalUsers$ | async</p>
    <ul>
      <li
        (click)="selectUser(user)"
        *ngFor="
          let user of users$
            | async
            | paginate
              : {
                  itemsPerPage: pageSize,
                  currentPage: currentPage$ | async,
                  totalItems: totalUsersMax$ | async
                }
        "
      >
        <ares-user-item [user]="user"></ares-user-item>
      </li>
    </ul>
  </div>
</ng-template>
